<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a [routerLink]="['/']" class="navbar-brand">
        <img src="../favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
        NGULAR
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li [routerLinkActive]="['active']" class="nav-item">
                <a [routerLink]="['/arreglo']" class="nav-link">Usuarios</a>
            </li>
            <li [routerLinkActive]="['active']" class="nav-item">
                <a [routerLink]="['/objeto']" class="nav-link">Mi Perfil</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
