<div class="container mt-4">
  <div class="card text-center" style="width: 18rem;">
    <img class="card-img-top mb-3" src="{{user.avatar_url}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{user.name}}</h5>
      <p>
        <i class="fa fa-id-card-o mr-2" aria-hidden="true"></i>
        {{user.login}}
      </p>
      <p>
        <i class="fa fa-globe mr-2" aria-hidden="true"></i>
        {{user.location}}
      </p>
      <a href="{{user.html_url}}" class="btn btn-block btn-outline-primary" role="button" aria-pressed="true">
        <i class="fa fa-github mr-2" aria-hidden="true"></i>
        Ver Perfil
      </a>
    </div>
  </div>
</div>