<div class="container-fluid">

    <div class="mt-4 card-deck row">
        <div *ngFor="let data of repos | async"  class="card col-md-3">
            <div class="text-center">
                <img [src]="data.img" class="rounded-circle mb-3 mt-2" height="96px" width="96px">
                <p class="card-text"><small class="text-muted">{{data.email}}</small></p>
            </div>
            <div class="card-body">
            <h5 class="card-title">{{data.name}}</h5>
            <p class="card-text">{{data.body}}</p>
            </div>
        </div>
    </div>

</div>

<!--
<div *ngFor="let data of user | async">
  <p>{{data.postId}}</p>
  <p>{{data.id}}</p>
  <p>{{data.name}}</p>
  <p>{{data.email}}</p>
  <p>{{data.body}}</p>
  <img [src]="data.img" class="rounded-circle mb-3" height="75px" width="75px">
</div>
-->